@import "primevue/resources/primevue.min.css";
/*@import "primevue/resources/themes/md-light-deeppurple/theme.css";*/
@import "primevue/resources/themes/lara-light-indigo/theme.css";


#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


#app{
  width: 100%;
}

.title_form{
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
}

.notification-section {
  font-weight: bold;
  font-size: 150%;
  font-family: 'Roboto', Arial, sans-serif;
}

.notification-section-message {
  font-size: 100%;
  font-family: 'Roboto', Arial, sans-serif;
}

.label{
  font-family: 'Roboto', Arial, sans-serif;
}

#login {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 40%;
}

#roleselector{
  margin-bottom: 10px;
  margin-top: 10px;
}

.role-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.p-input-icon-left {
  width: 100%;
}

#img_logo{
  width: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.profile-card{
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 50%;
}

#profileImage{
  width: 50%;
}

#modify-profile-form {
  width:40%;
}

#insert-job-offer-form {
  width:40%;
}

#button-danger {
  background-color: indianred;
  border-color: indianred;
}

#button-signup {
  background-color: indigo;
  border-color: indigo;
}

.button-more-info{
  background-color: indigo;
  border-color: indigo;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.single-card {
  width: calc(50% - 10px);
}

.p-float-label {
  margin-top: 15px;
  text-align: left;
}

.notification-unread {
  background-color: aliceblue;
}

.notification-read {
  background-color: white;
}

#welcome{
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  margin-right: 10px;
}

#menu{
  margin-bottom:20px
}

#filter-dropdown{
  margin-bottom:20px
}

@media screen and (max-width: 1000px) {

  #welcome{
    display: none;
  }

  #login {
    width: 80%;
  }

  #img_logo{
    width: 30%;
  }

  .profile-card{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 80%;
  }

  #modify-profile-form {
    width:80%;
  }

  #insert-job-offer-form {
    width:80%;
  }

  .single-card {
    width: 100%;
  }

}